{% extends 'base.html' %}

{% block title %}Prezzo medio per quartiere{% endblock %}

{% block content %}
  <h1>Prezzo medio per quartiere</h1>
  <form method="POST" action="{{ url_for('price_result') }}">
    <label for="neighborhood">Quartiere:</label>
    <select name="neighborhood" id="neighborhood">
      {% for neighborhood in neighborhoods %}
        <option value="{{ neighborhood }}">{{ neighborhood }}</option>
      {% endfor %}
    </select>
    <br><br>
    <button type="submit">Visualizza</button>
  </form>
  {% if result %}
    <p>Il prezzo medio del quartiere {{ neighborhood_selected }} è di {{ result }} €</p>
  {% endif %}
{% endblock %}